img.kanto {
  position: absolute;
  top: 100%;
  left: 45%;
  width: 1000px;
  height: auto;
  transform: translate(-50%, -100%);
  z-index: 1;
}

img.shachi {
  position: absolute;
  top: 78%;
  left: 70%;
  width: 200px;
  height: auto;
  transform: translate(-50%, -100%);
  z-index: 1;
}

img.kaminari {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 200px;
  height: auto;
  transform: translate(-50%, -100%);
  z-index: 1;
}

img.chuka {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 200px;
  height: auto;
  transform: translate(-50%, -100%);
  z-index: 1;
}